
@media only screen and (orientation: portrait){
  .flex-card-wrapper {flex-direction: column;} 
    .flex-card-wrapper .flex-card-container.actives{width: 100%; height: 40%;}
    

  }
@media (orientation: landscape){
     
.flex-card-wrapper .flex-card-container.actives{ width: 40%; height: 100%;}

    
}
:root {
    --dark: #000;
    --dark-17: #171717;
    --dark-26: #262626;
    --light: #fafafa;
  
    --pink: #ff84ce;
    --pink-light: #ffc4ff;
  
    --blue: #6fc3ff;
    --blue-light: #aef1ff;
}


.flex-card-wrapper{
  width: 100%;
  gap: 2vh; 
  display: flex; 
}

.flex-card-wrapper .flex-card-container { 
  border-radius: 3vh;
  display: flex;
  flex-direction: column;
  cursor: pointer; 
  overflow: hidden;
  position: relative; 
  transform-origin: bottom;
  transition: all 1s ease-in-out; 
  box-shadow:#fff -2vh -2vh 2vh -1vh, rgb(13, 39, 80, 0.2) 2vh 2vh 2vh -1vh;
}
.flex-card-container:not(.actives) {
  flex: 1;
}

.flex-card-wrapper .flex-card-container.actives { transition: all 1s ease-in-out;}

.flex-card-wrapper .flex-card-container.actives .overlay h1, 
.flex-card-wrapper .flex-card-container.actives .overlay .title,
.flex-card-wrapper .flex-card-container.actives .overlay p {
  opacity: 1;
  transform: translateX(0);
}



.flex-card-wrapper .flex-card-container:last-child {margin: 0 0 0 0 ;}

.flex-card-wrapper .flex-card-container.actives .overlay{
  display: flex; 
  transition: all 450ms ease-in-out; 
  }

.flex-card-wrapper .flex-card-container .overlay {
  display: none; 
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;
  border: #ffc4ff 1px solid;
  padding: 0 2vh 2vh 2vh;
  gap: 2vh;
  
  align-items: flex-end; justify-items: center;
  
  transition: all 450ms ease-in-out;
  
}

.flex-card-wrapper .flex-card-container.actives .overlay .title {top: 0;
margin: 0; width: 100%;
transition: all 350ms 250ms ease-in-out;}
.flex-card-wrapper .flex-card-container .overlay h1 { bottom: 0; 
margin: 0; border: #ffc4ff 1px solid; font-size: 4vh;
transition: all 350ms 300ms ease-in-out;}
.flex-card-wrapper .flex-card-container .overlay h5 { bottom: 0; 
margin: 0; border: #ffc4ff 1px solid; font-size: 1vh;
transition: all 350ms 300ms ease-in-out;}
.flex-card-wrapper .flex-card-container .overlay p { bottom: 0; 
margin: 0; border: #ffc4ff 1px solid; font-size: 2vh;
transition: all 350ms 300ms ease-in-out;}

.flex-card-wrapper .flex-card-container .overlay .title,
.flex-card-wrapper .flex-card-container .overlay h6, 
.flex-card-wrapper .flex-card-container .overlay p {opacity: 0;
transform: translateX(-15px); transition: all 350ms 300ms ease-in-out;
color: #000;
}


.flex-card-wrapper .flex-card-container.actives .overlay .go {
  
  border-radius: 1vh;
  
  transition: all 450ms ease-in-out;
  display: flex;
  padding: 1vh;
}

/* glass */
.go {
  border-top: rgba(255,255,255,0.6) 2px solid;
  border-bottom: rgba(255,255,255,0.6) 2px solid;
  border-left: rgba(255,255,255,0.1) 2px solid;
  overflow: hidden;
  border-radius: 1vh;
  background:linear-gradient(
    135deg, 
    rgba(255,255,255,0.9) 0%,
    rgba(255,255,255,0.4) 25%,
    rgba(255,255,255,0.6) 25%,
    rgba(255,255,255,0.3)50%,
    rgba(255,255,255,0.2) 50% 75%,
    rgba(255,255,255,0.1) 75%),
    linear-gradient(
    -135deg, 
    rgba(255,255,255,0.4) 25%,
    rgba(255,255,255,0.3) 25% 50%,
    rgba(255,255,255,0.2) 50% 75%,
    rgba(255,255,255,0.1) 75%)
  ;
  transition: all 450ms ease-in-out;
  display: flex;
  padding: 1vh;
  backdrop-filter: blur(1vh);
  -webkit-backdrop-filter: blur(1vh);
  
  box-shadow: 0 8px 32px 0 rgba(31,38,135,0.3);
}


.cardimage {flex-grow: 1 ; height: 40%;
 display: flex;
border-radius: 1vh;
cursor: pointer; 
padding: 2vh;

transition: all 1s ease-in-out;} 

.cardimage > img { width: 100%;  
  cursor: pointer; display: flex;
  border-radius: 12px; 
object-fit: cover; 

transition: all 1s ease-in-out;
}


.title{ font-weight: 100; }

.flex-card-wrapper .card-profile { border-radius: 3vh; 
  display: flex; 
  box-shadow:#fff -2vh -2vh 2vh -1vh, rgb(13, 39, 80, 0.2) 2vh 2vh 2vh -1vh;
  cursor: pointer;
  overflow: hidden;
  position: relative; margin: 0;
  transition: all 450ms ease-in-out; 
  }
