.cards-container { display: grid; 
  width: 100%; height:100%;
  grid-template-columns: repeat(auto-fill, minmax(12vh, 1fr));
  justify-content: start;
  align-content: start; 
  gap: 20px; 
}
.cards-container .cardAvatar {  
  height: min-content;
  aspect-ratio: 4/6; 
  flex-direction: column;
  position: relative; 
  box-shadow: #fafafa -10px -10px 30px 0, #AEAEC0 10px 10px 20px 0;
  border-radius: 2vh; 
  overflow: hidden;
  transition: 1s ease;
  opacity: 1;
  padding: 1vh;
  background: #e7e7e7;
  margin: 0;
}
.cards-container .cardAvatar a {
  display: flex; 
  flex-direction: column; 
  gap: 1vh; 
  height: 100%;
}

.cards-container .cardAvatar a .avatar { 
  flex-grow: 1;
 width: 100%; 
 border-radius: 1vh; 
 overflow: hidden;
position: relative;
transition: all 450ms ease-in-out; background:linear-gradient(#976B44,#DE9350);}
.cards-container .cardAvatar .avatar img { 
  width: 100%; 
  height: 100%;
  
  
  object-fit: cover; 
 }




.cards-container .cardAvatar .name{ 
  display: flex; 
  
  border-radius: 1vh;
  text-align: center; 
   padding: 1vh;
  white-space: nowrap; 
  text-overflow: ellipsis; 
  overflow: hidden; background: radial-gradient(#976B44,#DE9350);
}
.cards-container .cardAvatar .name p { margin: 0; width: 100%;}

.cards-container .show {display: flex; }

.Electro::after{
  content: "";
  background-image: url(./assets/Element_Electro.webp); 
  background-size: cover;
  width: 3vh; height: 3vh;
  position: absolute; top: 1.5vh; left: 1.5vh;
}


.section {display: flex;}

